body {
  background-image: url(https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  width: auto;
}

h1 {
  text-align: center;
  font-family: roboto;
  font-weight: 600;
  font-size: 36px;
  color: #242c54;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
  font-family: roboto;
  font-weight: 500;
  color: #242c54;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  color: #5662a1;
  opacity: 0.4;
  border-color: #5662a1;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  opacity: 0.9;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
  color: #515267;
  font-family: roboto;
}

.time {
  font-size: 48px;
  font-weight: bold;
  color: #242c54;
  font-family: roboto;
}

.time small {
  font-size: 20px;
  vertical-align: middle;
  line-height: 48px;
  font-family: roboto;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-family: roboto;
  font-weight: 400;
  color: #142647;
}
